In [1]:
%%capture
# move to src folder so we can import code
%cd ../src

In [2]:
import config
from common.kaggle import download_competition_data

In [3]:
download_competition_data(config.COMPETITION, config.INPUTS)

Downloading playground-series-s3e4.zip to /run/media/jcarnero/linux-data/kaggle/playground-series-s3e4/input

100%|██████████| 84.1M/84.1M [00:03<00:00, 25.4MB/s]

['test.csv', 'train.csv', 'sample_submission.csv']

In [4]:
from pathlib import Path
import pandas as pd

In [5]:
df = pd.read_csv(config.TRAIN_DATA)
df.head()

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,0.0,2.074329,-0.129425,-1.137418,0.412846,-0.192638,-1.210144,0.110697,-0.263477,...,-0.334701,-0.887840,0.336701,-0.110835,-0.291459,0.207733,-0.076576,-0.059577,1.98,0
1,1,0.0,1.998827,-1.250891,-0.520969,-0.894539,-1.122528,-0.270866,-1.029289,0.050198,...,0.054848,-0.038367,0.133518,-0.461928,-0.465491,-0.464655,-0.009413,-0.038238,84.00,0
2,2,0.0,0.091535,1.004517,-0.223445,-0.435249,0.667548,-0.988351,0.948146,-0.084789,...,-0.326725,-0.803736,0.154495,0.951233,-0.506919,0.085046,0.224458,0.087356,2.69,0
3,3,0.0,1.979649,-0.184949,-1.064206,0.120125,-0.215238,-0.648829,-0.087826,-0.035367,...,-0.095514,-0.079792,0.167701,-0.042939,0.000799,-0.096148,-0.057780,-0.073839,1.00,0
4,4,0.0,1.025898,-0.171827,1.203717,1.243900,-0.636572,1.099074,-0.938651,0.569239,...,0.099157,0.608908,0.027901,-0.262813,0.257834,-0.252829,0.108338,0.021051,1.00,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219129 entries, 0 to 219128
Data columns (total 32 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      219129 non-null  int64
 1   Time    219129 non-null  float64
 2   V1      219129 non-null  float64
 3   V2      219129 non-null  float64
 4   V3      219129 non-null  float64
 5   V4      219129 non-null  float64
 6   V5      219129 non-null  float64
 7   V6      219129 non-null  float64
 8   V7      219129 non-null  float64
 9   V8      219129 non-null  float64
 10  V9      219129 non-null  float64
 11  V10     219129 non-null  float64
 12  V11     219129 non-null  float64
 13  V12     219129 non-null  float64
 14  V13     219129 non-null  float64
 15  V14     219129 non-null  float64
 16  V15     219129 non-null  float64
 17  V16     219129 non-null  float64
 18  V17     219129 non-null  float64
 19  V18     219129 non-null  float64
 20  V19     219129 non-null  float64
 21  V20     219129 non-null  float64
 22  V21     219129 non-null  float64
 23  V22     219129 non-null  float64
 24  V23     219129 non-null  float64
 25  V24     219129 non-null  float64
 26  V25     219129 non-null  float64
 27  V26     219129 non-null  float64
 28  V27     219129 non-null  float64
 29  V28     219129 non-null  float64
 30  Amount  219129 non-null  float64
 31  Class   219129 non-null  int64
dtypes: float64(30), int64(2)
memory usage: 53.5 MB

In [8]:
df.isnull().sum().sum()

0

In [9]:
df.nunique() / len(df)

id        1.000000
Time      0.168143
V1        0.993584
V2        0.993611
V3        0.993479
V4        0.993547
V5        0.993301
V6        0.992995
V7        0.993638
V8        0.993383
V9        0.993392
V10       0.993579
V11       0.993387
V12       0.993657
V13       0.993753
V14       0.993597
V15       0.993575
V16       0.993702
V17       0.993666
V18       0.993597
V19       0.993707
V20       0.993670
V21       0.993848
V22       0.993716
V23       0.993857
V24       0.993419
V25       0.993757
V26       0.993803
V27       0.993725
V28       0.993743
Amount    0.089377
Class     0.000009
dtype: float64

In [10]:
len(df[df.duplicated()])

0

First impressions:

* Id column is unique and can be ignored
* All features are numerical
* `V1-V28` are numerical values with high cardinality
* There is a `Time` variable that has a 16% cardinality
* There is an `Amount` variable with a 9% cardinality
* Target is column `Class`

In [15]:
df["Time"].min(), df["Time"].max(), df["Time"].nunique()

(0.0, 120580.0, 36845)

In [16]:
df["Amount"].min(), df["Amount"].max(), df["Amount"].nunique()

(0.0, 7475.0, 19585)

In [17]:
df["Class"].min(), df["Class"].max(), df["Class"].nunique()

(0, 1, 2)